/* Default styles for larger screens */
section.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  margin-bottom: 50px;
  margin-top: -5px;
}

.slider {
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.8); */
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 860px;
  margin-bottom: 10px;
}

.slider::before,
.slider::after {
  content: "";
  height: 40px;
  position: absolute;
  width: 80px;
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(100px * 58);
}

.slide {
  height: 40px;
  width: 100px;
}

/* Media query for devices with a maximum width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .slider {
    width: 100%;
    padding: 0 10px;
  }

  .slide-track {
    width: calc(100px * 80 + 20px); /* Adjusted for padding */
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  80% { transform: translateX(calc(-100px * 6)); } /* Adjusted proportionally */
}


.accordion *,
.accordion *::before,
.accordion *::after {
  box-sizing: border-box;
}

.accordion .tab {
  position: relative;
}
.accordion .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion .tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.accordion .tab input:checked ~ .tab__content {
  max-height: 10rem;
}

.accordion .tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.accordion .tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.accordion .tab__content p {
  margin: 0;
  padding: 1rem;
  color: var(--primary); /* Black text */
}
.accordion .tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion.accordion--radio {
  --theme: var(--primary);
}
.accordion .tab input:not(:checked) + .tab__label:hover::after {
  animation: accordion-bounce .5s infinite;
}
@keyframes accordion-bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
